body {
    font-family: Roboto, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* colors and fonts */

.header-container, .hero-container {
    background-color: #1f2937;
}

.header-content, .main-text, button {
    color: #f9faf8;
}

a, .secondary-text, .placeholder-text {
    color: #efe7eb;
}

.logo, .main-text {
    font-weight: 900;
}

a, .secondary-text {
    font-size: 18px;
}

.information-header, .quote {
    color: #1f2937;
}

/* header */

.header-container {
    display: flex;
    justify-content: center;
}

.header-content {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
}

.logo {
    font-size: 24px;
}

/* hero */

.hero-container {
    display: flex;
    justify-content: center;
    padding: 96px;
}

.hero-content {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.hero-left {
    width: 450px;
}

.main-text {
    font-size: 48px;
}

.hero-right {
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c0c0c080;
}

.hero-button {
    background-color: #3882f6;
    padding: 6px 24px;
    border-radius: 6px;
    border: 0;
    font-weight: 900;
    margin-top: 8px;
}

/* information */

.information-container {
    display: flex;
    justify-content: center;
}

.information-content {
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.information-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    font-size: 36px;
    font-weight: 900;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 40px 100px 40px;
}

.box {
    flex: 0;
    text-align: center;
    color: #7b7d7d;
}

.box-border {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 16px;
    margin-bottom: 6px;
}

/* quote */

.quote-container {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
}

.quote-content {
    width: 1000px;
    display: flex;
    flex-direction: column;
    padding: 120px 240px 100px;
}

.quote {
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
}

.quote-author {
    align-self: flex-end;
    font-weight: bold;
    font-size: 18px;
    padding-right: 40px;
}