body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
}

.hero-container {
    display: flex;
    align-items: center;
}

.hero-content {
    width: 400px;
}

.placeholder {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}